/* Styles for the container class */
.container {
    /* Some container-specific styles here */
    font-family: "poppins";
    padding: 0 10px 0 10px;

    /* Styles for ion-content inside .container */
    ion-content {
        --background: white;
    }

    ion-input {
        border: 1px solid #B8926A;
        border-radius: 24px;
        padding: 0 10px !important;

    }

    .alert {
        margin: 0 20px 0 20px;
        color: red;
        font-size: 12px;

    }

    ion-button::part(native) {
        border-radius: 24px;
        background-color: #B8926A;
    }

    .input-row {
        width: 100%;
        margin: 10px 20px 10px 20px;
    }

    .button-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }

    .welcome {
        font-size: 24px;
        font-weight: 500;
    }

    .space {
        margin-top: 20px;
    }

    /* Styles for hr inside .container */
    hr {
        border-top: 1px solid #333;
        margin: 20px 0;
    }

    /* Styles for div inside .container */
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Styles for .header inside .container */
    .header {
        margin: 20px;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .welcome-container {
        margin: 20px;
    }

    .center-text {
        text-align: center;
    }
}