<ion-content>
    <div class="container">
        <div class="header">
            Sign up
        </div>
        <hr>
        <div class="welcome-container">
            <ion-row class="welcome">
                Let's Get Started
            </ion-row>
            <ion-row class="center-text">
                Create an account with your email to login from anywhere.
            </ion-row>
        </div>
        <form [formGroup]="registerForm">
            <div>
                <ion-row class="input-row">
                    <ion-input placeholder="Username" formControlName="username"></ion-input>
                    <div class="alert" *ngIf="username.hasError('required') && (username.dirty || username.touched)">
                        Please enter a valid username.
                    </div>
                </ion-row>
                <ion-row class="input-row">
                    <ion-input placeholder="Email Address" formControlName="email"></ion-input>
                    <div class="alert" *ngIf="email.hasError('email') && (email.dirty || email.touched)">
                        Please enter a valid email address.
                    </div>
                    <div class="alert" *ngIf="email.hasError('emailExists') && (email.dirty || email.touched)">
                        Email already exists.
                    </div>
                </ion-row>
                <ion-row class="input-row">
                    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                    <div class="alert" *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                        Password is required.
                    </div>
                    <div class="alert" *ngIf="password.hasError('minlength') && (password.dirty || password.touched)">
                        Password must be at least 8 characters long.
                    </div>
                    <div class="alert" *ngIf="password.hasError('pattern') && (password.dirty || password.touched)">
                        Password must include at least one lowercase letter, one uppercase letter, one digit, and one
                        special character.
                    </div>
                </ion-row>
                <ion-row class="input-row">
                    <ion-input type="password" placeholder="Confirm Password"
                        formControlName="confirmPassword"></ion-input>
                    <div class="alert" *ngIf="!checkPassword() && (confirmPassword.dirty || confirmPassword.touched)">
                        Passwords do not match.
                    </div>
                </ion-row>
                <ion-row class="button-row">
                    <ion-button class="button" (click)="createFirebaseUser()">
                        Sign up
                    </ion-button>
                </ion-row>

                <div class="space"></div>
                <ion-row>
                    Or sign up with
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button>
                            <ion-icon name="logo-apple"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>
                            <ion-icon name="logo-google"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>
                            <ion-icon name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    Already have an account? <a routerLink="/login"> &nbsp; Log in</a>
                </ion-row>
            </div>
        </form>
    </div>
</ion-content>