.diaper-container {
  font-family: 'poppins';
  letter-spacing: 1.5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-icon {
      font-size: 24px;
      cursor: pointer;
    }

    .header-text {
      flex-grow: 1;
      text-align: center;
    }

    .save {
      ion-button {
        font-size: 14px;
        font-family: 'poppins';
        letter-spacing: 1.5px;
      }
    }
  }

  .inner-container {
    ion-toolbar {
      --background: none;
    }

    ion-input {
      border: 1px solid #b8926a;
      border-radius: 24px;
      padding: 0 10px !important;
    }

    .input-row {
      width: 100%;
      margin: 10px 0;
    }

    ion-segment {
      width: 100%;
      margin-bottom: 20px;
    }

    hr {
      border-top: 1px solid #333;
      margin: 20px 0;
    }

    .diaper-time {
      width: 100%;
      display: flex;
      justify-content: center;

      .header-text {
        font-family: 'poppins';
        letter-spacing: 1.5px;
      }

      ion-button::part(native) {
        border-radius: 12px;
        background-color: rgba(227, 34, 69);
      }

      ion-button {
        width: 100%;
        margin: 5px 0 5px 0;
      }
    }

    .notes-container {
      margin-top: 10px;
      width: 100%;

      ion-textarea {
        border-radius: 24px;
        padding: 0 10px !important;
        color: white;
        border: none;
        background-color: rgba(170, 170, 170);
      }
    }

    .color-item-container {
      ion-segment {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px !important;
        padding-top: 10px !important;

        ion-segment-button {
          border-radius: 24px;
          margin: 1px;
        }
      }

      .selected-color {
        border: 2px solid #fff;
        box-shadow: 0 0 4px rgba(122, 121, 121, 0.8);
      }

      ion-segment-button {
        --indicator-color: none;
      }
    }

    ion-item::part(native) {
      padding-left: 0;
    }

    ion-item {
      --inner-padding-end: 0;
    }
  }
}
