<div class="diaper-container">
  <ion-row class="header">
    <ion-col class="flex justify-start items-center" size="3"> <ion-icon class="back-icon" routerLink="toolbar/tracking/dashboard" name="chevron-back-outline"></ion-icon></ion-col>
    <ion-col class="flex justify-start items-center" size="6"> <span class="header-text">Add Diaper</span></ion-col>
    <ion-col class="flex justify-start items-center" size="3">
      @if (diaperFormValid) {
        <div class="save">
          <ion-row>
            <ion-button (click)="save()"> Save </ion-button>
          </ion-row>
        </div>
      }
    </ion-col>
  </ion-row>
  <hr />
  <div class="inner-container">
    <ion-toolbar>
      <ion-segment value="diaper" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="diaper">
          <ion-label>Diaper</ion-label>
        </ion-segment-button>
        <ion-segment-button value="potty">
          <ion-label>Potty</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <form [formGroup]="diaperForm">
      <ion-row class="diaper-time">
        <ion-button id="startDate">
          <ion-col> <span class="header-text"> Start time: </span> </ion-col>
          @if (!getFormControl('startTime')) {
            <ion-col>
              <u class="header-text">Set time</u>
            </ion-col>
          }
          @if (getFormControl('startTime')) {
            <ion-col>
              <u>{{ getFormControl('startTime') | date: 'shortTime' }}</u>
            </ion-col>
          }
        </ion-button>
        <ion-popover #startTimePopover trigger="startDate" size="cover">
          <ng-template>
            <ion-datetime formControlName="startTime" displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" presentation="time" locale="sl-SI"></ion-datetime>
            <ion-button (click)="dismissStartPopover()">OK</ion-button>
          </ng-template>
        </ion-popover>
      </ion-row>
      @if (selectedSegment === 'diaper') {
        <ion-list>
          <ion-item>
            <ion-label slot="start">Diaper Type:</ion-label>
            <ion-select slot="end" (ionChange)="reset($event)" interface="popover" placeholder="Select" formControlName="diaperType">
              @for (diaper of diaperTypes; track diaper) {
                <ion-select-option [value]="diaper">{{ diaper }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>
        <!-- DIAPER SIZE SELECTION -->
        @if (getFormControl('diaperType') === 'Mixed') {
          <ion-list lines="none">
            <ion-item>
              <ion-label>Poo:</ion-label>
            </ion-item>
          </ion-list>
        }
        @if (getFormControl('diaperType') === 'Mixed' || getFormControl('diaperType') === 'Poo') {
          <ion-list lines="none">
            <ion-item>
              <ion-segment style="margin-bottom: 0" formControlName="diaperSize">
                <ion-segment-button value="little">
                  <ion-label>Little</ion-label>
                </ion-segment-button>
                <ion-segment-button value="medium">
                  <ion-label>Medium</ion-label>
                </ion-segment-button>
                <ion-segment-button value="big">
                  <ion-label>Big</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-list>
        }
        @if (getFormControl('diaperType') === 'Mixed') {
          <ion-list lines="none">
            <ion-item>
              <ion-label>Pee:</ion-label>
            </ion-item>
          </ion-list>
        }
        @if (getFormControl('diaperType') === 'Mixed' || getFormControl('diaperType') === 'Pee') {
          <ion-list>
            <ion-item>
              <ion-segment style="margin-bottom: 0" formControlName="peeSize">
                <ion-segment-button value="little">
                  <ion-label>Little</ion-label>
                </ion-segment-button>
                <ion-segment-button value="medium">
                  <ion-label>Medium</ion-label>
                </ion-segment-button>
                <ion-segment-button value="big">
                  <ion-label>Big</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-list>
        }
        <!-- DIAPER COLOR SELECTION -->
        @if (getFormControl('diaperType') === 'Poo' || getFormControl('diaperType') === 'Mixed') {
          <ion-list lines="none">
            <ion-item>
              <ion-label slot="start"> Color: </ion-label>
              <ion-label slot="end"> {{ selectedColor }} </ion-label>
            </ion-item>
            <ion-item class="color-item-container">
              <ion-segment formControlName="diaperColor" [(ngModel)]="selectedColor" [scrollable]="true">
                <ion-segment-button *ngFor="let color of colorOptions" [style.background-color]="color.hex" [ngClass]="{ 'selected-color': selectedColor === color.value }" [value]="color.value">
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-list>
        }
        <!-- DIAPER DESCRIPTION -->
        @if (getFormControl('diaperType') === 'Poo' || getFormControl('diaperType') === 'Mixed') {
          <ion-list>
            <ion-item>
              <ion-label slot="start">Description:</ion-label>
              <ion-select slot="end" interface="popover" placeholder="Select" formControlName="diaperDescription">
                @for (description of descriptions; track description) {
                  <ion-select-option [value]="description">{{ description }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
          </ion-list>
        }
        <!-- DIAPER RASH SELECTION -->
        @if (getFormControl('diaperType')) {
          <ion-list>
            <ion-item>
              <ion-label slot="start">Diaper Rash:</ion-label>
              <ion-toggle slot="end" formControlName="diaperRash"></ion-toggle>
            </ion-item>
          </ion-list>
        }
        <!-- DIAPER NOTES -->
        @if (getFormControl('diaperType')) {
          <ion-row class="notes-container">
            <ion-textarea placeholder="Notes" formControlName="notes" autoGrow="true"> </ion-textarea>
          </ion-row>
        }
      }
      @if (selectedSegment === 'potty') {
        <ion-list>
          <ion-item>
            <ion-label slot="start">Description:</ion-label>
            <ion-select slot="end" (ionChange)="reset($event)" interface="popover" placeholder="Select" formControlName="pottyDetails">
              @for (detail of pottyDetails; track detail) {
                <ion-select-option [value]="detail">{{ detail }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-row class="notes-container">
          <ion-textarea placeholder="Notes" formControlName="notes" autoGrow="true"> </ion-textarea>
        </ion-row>
      }
    </form>
  </div>
</div>
