.container {
  /* Some container-specific styles here */
  font-family: 'poppins';
  padding: 0 10px 0 10px;
  position: relative;

  .header {
    margin: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .arrow-left {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 24px;
    font-weight: 200;
  }

  hr {
    border-top: 1px solid #333;
    margin: 20px 0;
  }

  .sleep-time {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ion-input {
    border: 1px solid #b8926a;
    border-radius: 24px;
    padding: 0 10px !important;
  }

  .input-row {
    width: 100%;
    margin: 10px 0;
  }

  ion-item {
    width: 100%;
  }

  ion-row {
    margin: 10px 0 10px 0;
  }

  ion-button::part(native) {
    border-radius: 12px;
    background-color: #b8926a;
  }

  ion-button {
    width: 100%;
    margin: 5px 0 5px 0;
  }

  .save {
    bottom: 10px;
    left: 0;
    position: fixed;
    width: 100%;
  }

  .save-inner-container {
    margin: 0 10px;
  }
}
