<div class="food-tracking-container">
  <ion-row class="header">
    <ion-col class="flex justify-start items-center" size="3"> <ion-icon class="back-icon" routerLink="toolbar/tracking/dashboard" name="chevron-back-outline"></ion-icon></ion-col>
    <ion-col class="flex justify-start items-center" size="6"> <span class="header-text">Add Feeding</span></ion-col>
    <ion-col class="flex justify-start items-center" size="3">
      @if (state == 2 || foodTrackingFormValid) {
        <div class="save">
          <ion-row>
            <ion-button (click)="save()"> Save </ion-button>
          </ion-row>
        </div>
      }
    </ion-col>
  </ion-row>
  <hr />
  <div class="inner-container">
    <ion-toolbar>
      <ion-segment value="nursing" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="nursing">
          <ion-label>Nursing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bottle">
          <ion-label>Details</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-row class="food-time">
      <ion-button id="startDate">
        <ion-col> <span class="header-text"> Start time: </span> </ion-col>
        @if (!startDate) {
          <ion-col>
            <u class="header-text">Set time</u>
          </ion-col>
        }
        @if (startDate) {
          <ion-col>
            <u>{{ startDate | date: 'shortTime' }}</u>
          </ion-col>
        }
      </ion-button>
      <ion-popover #startTimePopover trigger="startDate" size="cover">
        <ng-template>
          <ion-datetime [(ngModel)]="startDate" displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" presentation="time" locale="sl-SI"></ion-datetime>
          <ion-button (click)="dismissStartTimePopover()">OK</ion-button>
        </ng-template>
      </ion-popover>
    </ion-row>
    <ion-row class="food-time">
      <ion-button id="endDate">
        <ion-col> <span class="header-text"> End Time: </span></ion-col>
        @if (!endDate) {
          <ion-col>
            <u class="header-text">Set time</u>
          </ion-col>
        }
        @if (endDate) {
          <ion-col>
            <u>{{ endDate | date: 'shortTime' }}</u>
          </ion-col>
        }
      </ion-button>
      <ion-popover #endTimePopover trigger="endDate" size="cover">
        <ng-template>
          <ion-datetime
            [(ngModel)]="endDate"
            displayFormat="MMM DD, YYYY HH:mm"
            pickerFormat="MMM DD, YYYY HH:mm"
            presentation="time"
            locale="sl-SI"
            (ngModelChange)="manualTimeEntry()"></ion-datetime>
          <ion-button (click)="dismissEndTimePopover()">OK</ion-button>
        </ng-template>
      </ion-popover>
    </ion-row>
    @if (selectedSegment === 'nursing') {
      @if (seconds || minutes || hours) {
        <ion-row class="timer-container">
          <div class="time">
            <p>{{ formattedTime }}</p>
          </div>
        </ion-row>
      }
      <ion-row class="tracking-button-row">
        <app-circular-button (buttonClicked)="checkTimer($event)" [stateChange]="state"></app-circular-button>
      </ion-row>
      @if (state === 2) {
        <ion-row class="reset-container">
          <ion-col (click)="reset()">
            <ion-button fill="outline"> Reset </ion-button>
          </ion-col>
        </ion-row>
      }
    }
    @if (selectedSegment === 'bottle') {
      <form class="form-container" [formGroup]="foodForm">
        <ion-list>
          <ion-item>
            <ion-label slot="start"> Food Type: </ion-label>
            <ion-select slot="end" interface="popover" formControlName="foodType">
              @for (food of foodTypes; track food) {
                <ion-select-option [value]="food" value="apples">{{ food }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-row class="notes-container">
          <ion-textarea placeholder="Notes" formControlName="notes" autoGrow="true"> </ion-textarea>
        </ion-row>
      </form>
    }
  </div>
</div>
