.food-tracking-container {
  font-family: 'poppins';
  letter-spacing: 1.5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-icon {
      font-size: 24px;
      cursor: pointer;
    }

    .header-text {
      flex-grow: 1;
      text-align: center;
    }

    .save {
      ion-button {
        font-size: 14px;
        font-family: 'poppins';
        letter-spacing: 1.5px;
      }
    }
  }

  .inner-container {
    hr {
      border-top: 1px solid #333;
      margin: 10px 0;
    }

    ion-toolbar {
      --background: none;
    }

    ion-segment {
      width: 100%;
      margin-bottom: 20px;
    }

    .food-time {
      width: 100%;
      display: flex;
      justify-content: center;

      .header-text {
        font-family: 'poppins';
        letter-spacing: 1.5px;
      }

      ion-button::part(native) {
        border-radius: 12px;
        background-color: rgba(227, 34, 69);
      }

      ion-button {
        width: 100%;
        margin: 5px 0 5px 0;
      }
    }

    .timer-container {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      .time {
        font-size: 20px;
      }
    }

    .tracking-button-row {
      margin-top: 70px;
      display: flex;
      justify-content: center;
    }

    .reset-container {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;

      ion-button {
        width: 100px;
        font-family: 'poppins';
        letter-spacing: 1.5px;
      }

      ion-button::part(native) {
        border-radius: 24px;
      }
    }

    .form-container {
      margin-top: 15px;

      ion-list {
        margin-bottom: 10px;
      }

      .notes-container {
        width: 100%;

        ion-textarea {
          border-radius: 24px;
          padding: 0 10px !important;
          color: white;
          border: none;
          background-color: rgba(170, 170, 170);
        }
      }

      ion-item::part(native) {
        padding-left: 0;
      }

      ion-item {
        --inner-padding-end: 0;
      }
    }
  }
}
