<ion-content fullscreen>
  <div class="container">
    <div class="header">
      <ion-icon routerLink="../" class="arrow-left" name="chevron-back-outline"></ion-icon>
      <div>Add Sleep</div>
    </div>
    <hr />
    <div>
      <ion-row class="sleep-time">
        <ion-button id="startDate" (click)="presentStartPopover($event)">
          <ion-col> Start time: </ion-col>
          @if (!startDate) {
            <ion-col>
              <u>Set time</u>
            </ion-col>
          }
          @if (startDate) {
            <ion-col>
              <u>{{ startDate | date : 'shortTime' }}</u>
            </ion-col>
          }
        </ion-button>
        <ion-popover #startTimePopover [isOpen]="startIsOpen" (didDismiss)="startIsOpen = false" size="auto">
          <ng-template>
            <ion-datetime [(ngModel)]="startDate" displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" presentation="time" locale="sl-SI"></ion-datetime>
            <ion-button (click)="dismissStartPopover()">OK</ion-button>
          </ng-template>
        </ion-popover>
      </ion-row>
      <ion-row class="sleep-time">
        <ion-button id="endDate" (click)="presentEndPopover($event)">
          <ion-col> End Time: </ion-col>
          @if (!endDate) {
            <ion-col>
              <u>Set time</u>
            </ion-col>
          }
          @if (endDate) {
            <ion-col>
              <u>{{ endDate | date : 'shortTime' }}</u>
            </ion-col>
          }
        </ion-button>
        <ion-popover #endTimePopover trigger="endDate" size="auto" [isOpen]="endIsOpen" (didDismiss)="endIsOpen = false">
          <ng-template>
            <ion-datetime
              [(ngModel)]="endDate"
              displayFormat="MMM DD, YYYY HH:mm"
              pickerFormat="MMM DD, YYYY HH:mm"
              presentation="time"
              locale="sl-SI"
            (ngModelChange)="manualTimeEntry()"></ion-datetime>
            <ion-button (click)="dismissEndPopover()">OK</ion-button>
          </ng-template>
        </ion-popover>
      </ion-row>
      @if (seconds || minutes || hours) {
        <ion-row class="timer sleep-time">
          <div class="times">
            <p>{{ formattedTime }}</p>
          </div>
        </ion-row>
      }
      <ion-row class="sleep-button-row">
        <app-circular-button (buttonClicked)="checkTimer($event)" [stateChange]="state"></app-circular-button>
      </ion-row>
      @if (state === 2) {
        <ion-row>
          <ion-col (click)="reset()" class="sleep-time">Reset</ion-col>
          <ion-col class="sleep-time" (click)="addDetails()">Details</ion-col>
        </ion-row>
      }
    </div>
    @if (state === 2) {
      <div class="save">
        <div class="save-inner-container">
          <ion-row class="sleep-time">
            <ion-button (click)="saveSleep()"> Save </ion-button>
          </ion-row>
        </div>
      </div>
    }
  </div>
</ion-content>
