.register-container {
  font-family: 'poppins';
  letter-spacing: 1.5px;

  ion-content {
    --background: white;
  }

  ion-input {
    border: 1px solid #b8926a;
    border-radius: 24px;
    padding: 0 10px !important;
  }

  .header-container {
    margin: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-image-container {
      margin-bottom: 10px;
      .header-image {
        width: 9vh;
        height: 9vh;
      }
    }

    .sign-up-header {
      margin: 0px !important;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-row {
      width: 100%;
      margin: 10px 20px 10px 20px;

      ion-input {
        color: white;
        border: none;
        background-color: rgba(170, 170, 170);
      }
    }

    .alert {
      margin: 0 20px 0 20px;
      color: red;
      font-size: 12px;
    }
  }

  .sub-confirmation-info-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;

    .sub-header {
      margin-bottom: 5px;
      h1 {
        font-weight: bold;
        margin: 0px !important;
        font-size: 12px;
      }
    }

    .sub-header-text {
      display: flex;
      justify-content: center;
      p {
        margin: 0px !important;
        font-size: 9px;
      }
    }
  }

  .actions-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-button {
      color: white;
      font-family: 'poppins';
      letter-spacing: 1.5px;
      --background: rgba(227, 34, 69);
      --border-radius: 24px;
      width: 120px;
      margin-bottom: 10px;
    }

    .policy-header {
      text-align: center;
      font-size: 12px;
    }
  }
}

.footer-container {
  font-family: 'poppins';
  letter-spacing: 1.5px;
  text-align: center;

  a {
    color: rgba(128, 186, 223);
  }
}
