.circular-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #85abb3;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.button-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px dashed rgba(133, 171, 179, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 24px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
