<ion-content class="ion-padding">
  <div class="register-container">
    <div class="header-container">
      <div class="header-image-container">
        <ion-img class="header-image" src="assets/Join_Header_Img.png" alt="Sign Up Image"></ion-img>
      </div>
      <div>
        <h1 class="sign-up-header">join grow</h1>
      </div>
    </div>
    <form [formGroup]="registerForm">
      <div class="form-container">
        <ion-row class="input-row">
          <ion-input placeholder="Username" formControlName="username"></ion-input>
          <div class="alert" *ngIf="username.hasError('required') && (username.dirty || username.touched)">Please enter a valid username.</div>
        </ion-row>
        <ion-row class="input-row">
          <ion-input placeholder="Email Address" formControlName="email"></ion-input>
          <div class="alert" *ngIf="email.hasError('email') && (email.dirty || email.touched)">Please enter a valid email address.</div>
          <div class="alert" *ngIf="email.hasError('emailExists') && (email.dirty || email.touched)">Email already exists.</div>
        </ion-row>
        <ion-row class="input-row">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <div class="alert" *ngIf="password.hasError('required') && (password.dirty || password.touched)">Password is required.</div>
          <div class="alert" *ngIf="password.hasError('minlength') && (password.dirty || password.touched)">Password must be at least 8 characters long.</div>
          <div class="alert" *ngIf="password.hasError('pattern') && (password.dirty || password.touched)">
            Password must include at least one lowercase letter, one uppercase letter, one digit, and one special character.
          </div>
        </ion-row>
        <ion-row class="input-row">
          <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
          <div class="alert" *ngIf="!checkPassword() && (confirmPassword.dirty || confirmPassword.touched)">Passwords do not match.</div>
        </ion-row>

        <div class="actions-container">
          <ion-row class="button-row">
            <ion-button class="sign-button" (click)="createFirebaseUser()"> Sign up </ion-button>
          </ion-row>
          <ion-row>
            <div class="policy-header">By signing up, you agree to our <a routerLink="">Terms of Service & Privacy Policy</a></div>
          </ion-row>
        </div>

        <!-- <ion-row> Or sign up with </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>
              <ion-icon name="logo-apple"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button>
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button>
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> -->
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="footer-container"> already have an account? <a routerLink="/login">Login</a> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="footer-container"> By signing up, you agree to our Terms of Service & Privacy Policy </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
