/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */
/* Add the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

/* Other global styles and customizations can go below */

.add-child-modal {
    position: absolute;
    align-items: center;
    justify-content: center;

    &::part(content) {
        width: 100px;
        height: 300px;
        border-radius: 10px;
    }
}

.sleep-details-modal-class {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}


.sleep-details-modal-class::part(content) {
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9999;
}

:root {
    --ion-font-family: 'poppins';
}

.heading1 {
    font-weight: 600;
    font-size: 18px;
}