<ion-content>
  <div class="container">
    <div class="header">
      <ion-icon (click)="back()" class="arrow-left" name="chevron-back-outline"></ion-icon>
      <div>Settings</div>
    </div>
    <hr />
    <div>
      <ion-row class="edit-account">
        <ion-button>
          <ion-col> profile </ion-col>
        </ion-button>
      </ion-row>
      <ion-row class="sub-heading"> Children </ion-row>
      <ion-row>
        <div *ngFor="let child of children" [ngClass]="{ selected: child.id === selectedChildId }" class="edit-account">
          <ion-button (click)="setSelectedChild(child)">
            <ion-col>
              {{ child.name }}
            </ion-col>
          </ion-button>
        </div>
        <div class="flex-center" (click)="addChild()">+ Add child</div>
      </ion-row>
      <div class="logout">
        <ion-row class="flex-left">
          <ion-list>
            <ion-item>
              <ion-label (click)="logout()">Logout</ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
